
p{
    color: red;
}
button[name="Datban"]{
    border: none;
    border-radius: 5px;
    background-color: rgb(26, 83, 216);
    padding:5px;
    margin-top: 15px;
    width: 150px;
    height: 30px;
    color: white;
    float: right;
}
button[name="reset"]{
    border: none;
    border-radius: 5px;
    background-color: rgb(224, 114, 30);
    padding:5px;
    margin-top: 15px;
    width: 50px;
    height: 30px;
    color: white;
    float: left;
}
.btn-back{
    background-color: rgb(240, 64, 64);
    padding:5px;
    color: white;
    border: none;
    border-radius: 5px;
    width: 60px;
    height: 30px;
}
.container{
    
    justify-content: center;
    align-items: center;
    display: flex;
}
h2{
    text-align: center;
}
.form-container {
    border: 1px solid black;
    border-radius: 10px;
    padding : 20px;
    margin-top: 25px;
    width: 300px;
    height: 300px;
}
.form-container form{
    display: flex;
    flex-direction: column;
}
input{
    margin-top: 20px;
    height: 25px;
    border-radius: 5px;
    border: 1px solid black;
}
input:focus{
    outline: none;
}